nav{
    height: 10vh;
    width: 100vw;
   background-image: linear-gradient(to left,rgba(255, 255, 17, 0.363),white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: fixed;
    top: 0;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
list-style: none;
color: white;
font-size: 1.5vw;
}

nav ul li{
    padding: 0.5vh 2.5vw;
    background-color: aliceblue;
    border-radius: 15px;
background:#ff1e;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
margin-right: 2vw;
text-decoration: none;


}
#first{
    margin-top: 3vh;
    margin-left: 1vw;
    border-radius: 17px;
     height: 90vh;
     width: 80vw;
     background-color: #95d9e9;
 }
 
 #first-txt{
     height: 100%;
     width: 90vw;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 #slogan h1{
    font-size:5.5vw;
   font-weight: bolder;
}

#slogan button{
    border: none;
    font-size: 1.3vw;
    margin-top: 4vh;
    padding: 1.9vh 3.3vw;
    background-color: #ff1e;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 2vw;

}
#orderNow{
    position: sticky;
}
#img-div{
    height: 65vh;
    width: 40vw;
    margin-left: 2vw;
}

#img-div img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    filter: drop-shadow(20px 20px 60px rgba(0, 0, 0, 0.288));