nav{
    height: 10vh;
    width: 100vw;
   background-image: linear-gradient(to left,rgba(255, 255, 17, 0.363),white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    position: fixed;
    top: 0px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
list-style: none;
color: black;
font-size: 1.5vw;
}

nav ul li{
    padding: 0.5vh 2.5vw;
    background-color: aliceblue;
    border-radius: 15px;
background:#ff1e;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
margin-right: 2vw;
text-decoration: none;


}

  